<!DOCTYPE HTML>
<html>
<head lang="en">
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href="../content/css/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="../scripts/js/main.js"></script>
   <title>Basic Express App</title>
<head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <nav class="navbar-header h2">
        Basic Express App
      </nav>
   </div>
</header>
<section class="container">
	Welcome! This is a simple skeleton for quicker express startup
</section>
</body>
</html>